<!DOCTYPE html>
<html lang="en">
	<head>
		<title>March Tee - Shop</title>
		<meta name="viewport" content="width=1024" />
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/size-picker.css"/>
        <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>
	</head>
	<body class="overlay">
        <div class="size-picker">
            <div id="size-picker-ui">
                <!--<img src="images/human.png" alt=""/>-->
                <div class="human">
                    <div class="head-area">
                        <div class="head"></div>
                    </div>
                    <div class="body-area">
                        <div class="torso"></div>
                        <p class="size-result">M</p>
                        <div class="leg"></div>
                        <div class="hand-left"></div>
                        <div class="hand-right"></div>
                    </div>
                </div>
                <div class="handle bottom">
                    <p class="height-result"></p>
                </div>
                <div class="handle right">
                    <p class="weight-result"></p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/size-picker.js"></script>
	</body>
</html>